<h1>今日のタスク入力</h1>

<%= form_with model: @task, local: true do |f| %>  
  <div>
    <%= f.label :content, "タスク内容" %><br>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= f.submit "タスクを作成" %>
  </div>
<% end %>
