<% flash.each do |type, message| %>
  <div class="<%= flash_class(type) %>" data-controller="flash">
    <%= message %>
    <button
      type="button"
      class="pl-1 text-gray-700 hover:text-gray-900"
      data-action="click->flash#close"
    >
      &times;
    </button>
  </div>
<% end %>
