<div class="w-full max-w-md bg-white rounded-md shadow-md p-8">
  <div class="flex flex-col items-center mb-6">
    <img 
      src="<%= asset_path('logo.png') %>" 
      alt="Challenge Compass Logo" 
      class="w-48 h-48 object-contain mb-4"
    />
    <h1 class="text-2xl font-bold text-gray-800">
      チャレンジコンパス
    </h1>
    <p class="text-sm text-gray-600 mt-2">
      毎日の仕事を、冒険に変える。
    </p>
  </div>

  <div class="text-center">
    <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "inline-flex items-center justify-center px-6 py-3 bg-red-500 hover:bg-red-600 text-white font-semibold rounded-md shadow transition duration-200 gap-1" do %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M16.00391,14.0625v4.20313h5.98828c-0.78125,2.54688 -2.91016,4.37109 -5.98828,4.37109c-3.66406,0 -6.63672,-2.97266 -6.63672,-6.63672c0,-3.66406 2.96875,-6.63672 6.63672,-6.63672c1.64844,0 3.15234,0.60547 4.3125,1.60156l3.09375,-3.09766c-1.95312,-1.78125 -4.55469,-2.86719 -7.40625,-2.86719c-6.07812,0 -11.00391,4.92578 -11.00391,11c0,6.07422 4.92578,11 11.00391,11c9.23438,0 11.27344,-8.63672 10.36719,-12.92187z"></path></g></g>
      </svg>
      Googleアカウントでサインイン
    <% end %>
  </div>
</div>
